.slick-arrow {
    z-index: 1;
}

.slick-arrow.slick-next {
    right: 0;
    transform: none;
}

.slick-arrow.slick-next:before {
    color: black;
    font-size: 25px;
}

.slick-arrow.slick-prev {
    left: 0;
    transform: none;

}

.slick-arrow.slick-prev:before {
    color: black;
    font-size: 25px;
}