.slick-arrow {
    z-index: 1;
}

.slick-arrow.slick-next {
    right: -16px;
    transform: none;
}

.slick-arrow.slick-next:before {
    color: black;
    font-size: 35px;
}

.slick-arrow.slick-prev {
    left: -32px;
    transform: none;

}

.slick-arrow.slick-prev:before {
    color: black;
    font-size: 35px;
}